.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color:#4477CE;
  
  }
.navbar .navbar-nav .nav-item a{
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .navbar-nav .nav-item a{
    padding: 20px;
    margin-left:20px ;
}
.navbar .navbar-nav .nav-but{
    padding: 10px;
}
 nav ul li a:active,a:hover{ 
    border-radius: 20px;
    background-color: #211C84;
}
.dropdown-menu :hover{
    background-color: #211C84; 
}
.dropdown-menu{
    color: white;
}
.nav-but :hover {
    background-color: #ffffff;
}
.container {
    width: 390px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#signup-form {
    display: flex;
    flex-direction: column;
}
#signup-form label{
    margin-left: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-left: 20px;
    margin: 10px 0 5px;
}

input {
    margin-left: 20px;
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-left: 20px;
    width: 300px;
    background-color: #4477CE;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4477CE;
}
a{
    font-family: "none";
    text-decoration: none;
    text-align: center;
}

p{
    margin-left: 20px;
}
#signup-account {
    color: rgb(37, 255, 146); /* Initial color */
    text-decoration: none; /* Remove underline if desired */
}

#signup-account:hover {
    color: rgb(255, 255, 255); /* Color when hovered */
}
